# Data Exploration

***

## Selecting Columns

In [1]:
# Loading Python Libraries

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#### Loading Dataset

In [2]:
# Films Dataset

films = pd.read_csv("D:/documents/xlsx/films.csv")

#### Showing first few rows of the dataset

In [3]:
films.head()

,id,title,release_year,country,duration,language,certification,gross,budget
0,1,Intolerance: Love's Struggle Throughout the Ages,1916.0,USA,123.0,NaN,Not Rated,NaN,385907.0
1,2,Over the Hill to the Poorhouse,1920.0,USA,110.0,NaN,NaN,3000000.0,100000.0
2,3,The Big Parade,1925.0,USA,151.0,NaN,Not Rated,NaN,245000.0
3,4,Metropolis,1927.0,Germany,145.0,German,Not Rated,26435.0,6000000.0
4,5,Pandora's Box,1929.0,Germany,110.0,German,Not Rated,9950.0,NaN

#### Checking the variables

In [5]:
films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4968 non-null   int64
 1   title          4968 non-null   object
 2   release_year   4926 non-null   float64
 3   country        4966 non-null   object
 4   duration       4955 non-null   float64
 5   language       4957 non-null   object
 6   certification  4666 non-null   object
 7   gross          4158 non-null   float64
 8   budget         4538 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 349.4+ KB

#### Checking Missing Values