# PYTHON

### THIS IS THE BASIC FUNDAMENTALS OF BORING PYTHON SYNTAXS

#### Variables

In [4]:
message = "Hello Python World!"
message

'Hello Python World!'

In [3]:
m2 = "Hello python crash course world!"
m2

'Hello python crash course world!'

In [5]:
print(message)

Hello Python World!

#### Strings

In [10]:
# Changing case in a string with methods

name = "ada lovelace"
name = print(name.title())
name

Ada Lovelace

In [14]:
myname = "md. ishtiak ahmed"
print(myname.upper()) # will print in upper case letter
print(myname.lower()) # will print in lower case letter

MD. ISHTIAK AHMED
md. ishtiak ahmed

<br></br>
<b><i>Combining or Concatenating Strings</i><b>

It's often useful to combine strings.

In [17]:
# Concatenate
first_name = "ishtiak"
last_name = "rongon"
full_name = first_name + " " + last_name
print(full_name.upper())

ISHTIAK RONGON

In [18]:
print("Hello, " + full_name.title() + "!")

Hello, Ishtiak Rongon!

<b><i>Adding Whitespace to Strings with Tabs or Newlines</b></i>

In [20]:
print("Python")

# Add tab to text
print("\tPython")

Python
	Python

To add a newline in a string, use the character combination <b>\n:</b>

In [21]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

<b><i>Striping Whitespace</i></b>

In [30]:
fav_language = 'python '
fav_language
fav_language.rstrip()

'python'

In [31]:
fav_language.lstrip() # left trimming the text

'python '

In [32]:
fav_language.strip()

'python'

<b><i>Avoid Syntax Errors with Strings</i></b>

In [33]:
new_m = "One of Python's strengths is its diverse community"
new_m

"One of Python's strengths is its diverse community"

#### Numbers

In [35]:
2 + 3

5

In [36]:
3 - 2

1

In [37]:
2 * 3

6

In [38]:
3 / 2

1.5

In [39]:
3 ** 2

9

<b><i>Floats<i/></b>

In [40]:
0.1 + 0.1

0.2

In [41]:
2 * 0.1

0.2

<b><i>Avoid Type Errors with str() Functions</i></b>

In [43]:
age = 27
message = "Happy " + str(age) + "th Birthday!"
print(message)

Happy 27th Birthday!

In [44]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Chapter 3

#### LISTS

A list is a collection of items in a particular order. You can make a list that includes the letters of the alphabet, the digits from 0-9, or the names of all the people in your family. You can put anything you want into a list, and the items in your list don't have to be related in any particular way. Because a list usually contains more than one element, it's good idea to make the name of your list plural, such as letters, digits or names.

In [ ]:
bicyles = ['terk', 'cannondale', 'redline', 'specialized']
print(bicyles)

['terk', 'cannondale', 'redline', 'specialized']

**_Accessing the Elements in a list_**

In [47]:
print(bicyles[0].title())

Terk

In [48]:
print(bicyles[1].upper())

CANNONDALE

In [49]:
print(bicyles[2].lower())

redline

In [51]:
# Going to the last element by using index - 1
print(bicyles[-1])

specialized

**_Modifying Elements in a list_**

In [52]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [53]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

**_Adding Elements to a list_**

In [54]:
motorcycles.append('ducati')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati']

In [55]:
motorcycles = []

In [56]:
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

In [57]:
motorcycles

['honda', 'yamaha', 'suzuki']

**_Inserting Elements into a List_**

In [60]:
# Inserting elements into a list
# here 0 means the position of the elements
# 2nd part is the variable which will be included in the list
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'ducati', 'ducati', 'honda', 'yamaha', 'suzuki']

**_Removing Elements from a List_**

In [61]:
# Removing an item using the del statement
del motorcycles[0]
print(motorcycles)

['ducati', 'ducati', 'honda', 'yamaha', 'suzuki']

In [62]:
del motorcycles[1]
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

**_Removing an Item by Value_**

In [67]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [68]:
motorcycles.remove('yamaha')

In [69]:
print(motorcycles)

['honda', 'suzuki']

In [73]:
# Adding item again
motorcycles.insert(0, 'ducati')

In [74]:
# Adding another item
motorcycles.insert(1, 'yamaha')

In [72]:
print(motorcycles)

['ducati', 'yamaha', 'honda', 'suzuki']

#### Organizing a List

**_Sorting a List Permanently with the sort() Method_**

In [18]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [78]:
# Sort in reverse alphabetical order
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

**_Sorting a List Temporarily with the sorted() function_**

In [79]:
# Temporary sorting
print( sorted(cars) )

['audi', 'bmw', 'subaru', 'toyota']

**_Printing a List in Reverse Order_**

In [82]:
cars.sort() # first arranging it to asscending order
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [85]:
# Sorting it in a reverse order
cars.reverse()
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

**_Finding the Length of a List_**

In [86]:
len(cars)

4

### Chapter 4

#### WORKING WITH LISTS

**_Looping Through an Entire List_**

In [89]:
magicians = []
magicians.append('alice')
magicians.append('david')
magicians.append('carolina')
print(magicians)

['alice', 'david', 'carolina']

In [91]:
# Basic for loops
# Always print what you are using right next to for function
# in a print statement
for magic in magicians:
    print(magic)

alice
david
carolina

In [93]:
# Doing more work within a for loop

for magic in magicians:
    print(magic.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, "
    + magic.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [94]:
# Creating a blank list
pizzas = []

# Insert the values in the pizzas list

pizzas.insert(0, 'Mozzarella Cheese Pizza')
pizzas.insert(1, 'Meat Sausage Cheese Pizza')
pizzas.insert(2, 'Four Season Special Pizza')
print(pizzas)

['Mozzarella Cheese Pizza', 'Meat Sausage Cheese Pizza', 'Four Season Special Pizza']

In [98]:
for pizza in pizzas:
    print("I like " + pizza.title() + ".")

I like Mozzarella Cheese Pizza.
I like Meat Sausage Cheese Pizza.
I like Four Season Special Pizza.

#### Making Numerical Lists

**_Using the range() Function_**

In [101]:
# Print the range from 1 to 5 | series
for i in range(1, 6):
    print(i)

1
2
3
4
5

**_Using range() to Make a List of Numbers_**

In [102]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [103]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [104]:
# Print some square of values using for loop

squares = []
for value in range(1, 11):
    square = value**2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**_Simple Statistics with a List of Numbers_**

In [105]:
digits = list(range(0, 10))

In [106]:
# Minimum
min(digits)

0

In [107]:
# Maximum
max(digits)

9

In [108]:
sum(digits)

45

In [1]:
# The Multiplication
squares = [value ** 2 for value in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
twenty = list(range(1, 21))
for count in twenty:
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
twenty = []
for count in range(1, 21):
    twenty.append(count)
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**Odd Numbers:** Use the argument range() function to make a list of the odd numbers from 1 to 20.
Use a for loop to print each number.

In [7]:
odd_numbers = []    # blank list
for odds in range(1, 21, 2):
    odd_numbers.append(odds)
    print(odds)

1
3
5
7
9
11
13
15
17
19

**_Slicing a List_**

In [8]:
players = []
players.append('ellona')
players.append('hollowfire')
players.append('subzero')
players.append('blackmfs')
players.append('red devil sagar')
players.append('nubjg')
players.append('cursed touch')

In [9]:
# print ony 1st three players name
print(players[0:3])

['ellona', 'hollowfire', 'subzero']

In [10]:
print(players[1:4])

['hollowfire', 'subzero', 'blackmfs']

In [11]:
# automatic start from the beginning
print(players[:4])

['ellona', 'hollowfire', 'subzero', 'blackmfs']

In [12]:
print(players[0:])

['ellona', 'hollowfire', 'subzero', 'blackmfs', 'red devil sagar', 'nubjg', 'cursed touch']

In [13]:
# To know the last three players using slicing
print(players[- 3:])

['red devil sagar', 'nubjg', 'cursed touch']

**_Looping Through a Slice_**

In [15]:
print("Here are the first three players on my team: ")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Ellona
Hollowfire
Subzero

#### Tuples

In [16]:
# tuples are the smaller version of list. cannot be changed the values
# fixed values/items
dimensions = (200, 50)
print(dimensions[0])

200

#### IF STATEMENTS

In [19]:
# A Simple Example
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

**_Checking for Equality_**

In [20]:
car = 'bmw'

In [21]:
car == 'bmw'

True

In [22]:
car = 'audi'

In [23]:
car == 'bmw'

False

In [24]:
requested_topping = 'mushrooms'

In [25]:
if requested_topping != 'anchovies':
    print("Hold the anchovies")

Hold the anchovies

**_Numerical Comparisons_**

In [26]:
age = 18

In [27]:
age == 18

True

In [28]:
age_0 = 22
age_1 = 18

In [29]:
age_0 >= 21 and age_1 >= 21

False

In [30]:
age_1 = 22

In [31]:
age_0 >= 21 and age_1 >= 21

True

In [32]:
(age_0 >= 21) and (age_1 >= 21)

True

In [33]:
(age_0 >= 21) or (age_1 >= 21)

True

**_Checking Whether a Value is in a list_**

In [34]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
    print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

**_The if-elif-else Chain_**

- Admission for anyone under age 4 is free.
- Admission for anyone between the ages of 4 and 18 is $5.
- Admission for anyone age 18 or older is $10.

In [35]:
age = 12

if age < 4:
    print("Your admission cost is $0.")
elif (age > 4) and (age <= 18):
    print("Your admission cost is $5.")
else:
    print("Your admission cost is $10.")

Your admission cost is $5.

**_Testing Multiple Conditions_**

In [37]:
requested_topping = []
requested_topping.insert(0, 'mushrooms')
requested_topping.insert(1, 'extra cheese')
print(requested_topping)

['mushrooms', 'extra cheese']

In [38]:
if 'mushrooms' in requested_topping:
    print("Adding mushrooms")

Adding mushrooms

**_Using Multiple Lists_**

In [2]:
available_toppings = []
available_toppings.append('mushrooms')
available_toppings.append('olives')
available_toppings.append('green peppers')
available_toppings.append('pepperoni')
available_toppings.append('pineapple')
available_toppings.append('extra cheese')

requested_toppings = []
requested_toppings.insert(0, 'mushrooms')
requested_toppings.insert(1, 'french fries')
requested_toppings.insert(0, 'extra cheese')

for rt in requested_toppings:
    if rt in available_toppings:
        print("Adding " + rt.title() + ".")
    else:
        print("Sorry, we don't have " + rt.title() + ".")

Adding Extra Cheese.
Adding Mushrooms.
Sorry, we don't have French Fries.

**_A Simple Dictionary_**

In [5]:
alien_0 = {
    'color' : 'green',
    'points' : 5
}
print(alien_0['color'])
print(alien_0['points'])

green
5

**_Accessing Values in Dictionary_**

In [7]:
new_points = alien_0['points']
print("You just earned " + str(new_points) + " points!")

You just earned 5 points!

**_Adding New Key-Value Pairs_**

In [8]:
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

**_Starting with an Empty Dictionary_**

In [9]:
gamers = {}

gamers['name'] = 'cyraxx'
gamers['role'] = 'jungler'
gamers['game'] = 'league of legends'

print(gamers)

{'name': 'cyraxx', 'role': 'jungler', 'game': 'league of legends'}

In [10]:
favorite_languages = {
    'jen' : 'python',
    'sarah' : 'c',
    'edward' : 'ruby',
    'phil' : 'python'
}

In [11]:
print("Sarah's favourtie language is " +
    favorite_languages['sarah'].title() +
    ".")

Sarah's favourtie language is C.

**_Looping Through a Dictionary_**

In [12]:
user_0 = {
    'username' : 'efermi',
    'first' : 'enrico',
    'last' : 'fermi'
}

In [13]:
for key, value in user_0.items():
    print("\nKey: " + key.title())
    print("Value: " + value.title())

Key: Username
Value: Efermi

Key: First
Value: Enrico

Key: Last
Value: Fermi

In [14]:
for name in favorite_languages.keys():
    print(name)

jen
sarah
edward
phil

In [15]:
for name in sorted(favorite_languages.keys()):
    print(name.title() + ", thank you for taking the poll.")

Edward, thank you for taking the poll.
Jen, thank you for taking the poll.
Phil, thank you for taking the poll.
Sarah, thank you for taking the poll.

In [16]:
for language in favorite_languages.values():
    print(language.title())

Python
C
Ruby
Python

**_Functions_**

In [17]:
# Defining a Function

def greet_user():
    print("Hello!") # Display a simple greeting.

greet_user()

Hello!

**_Passing Information to a Function_**

In [18]:
def greet_user(username):
    """Display a simple greeting."""
    print("Hello, " + username.title() + "!")

greet_user('jesse')

Hello, Jesse!

**_Positional Arguments_**

In [19]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type.title() + ".")
    print("My " + animal_type.title() + "'s name is " + pet_name.title() +
        ".")

describe_pet(animal_type = 'dog', pet_name = 'willie')

I have a Dog.
My Dog's name is Willie.

In [20]:
# while loop with break statement and functions

def get_formatted_name(first_name, last_name):

    """Return a full name, neatly formatted."""
    full_name = first_name + ' ' + last_name
    return full_name.title()


while True:
    print("\nPlease tell me your name: ")
    print("(enter 'q' at any time to quit)")

    f_name = input("First Name: ")
    if f_name == 'q':
        break

    l_name = input("Last Name: ")
    if l_name == 'q':
        break
    
    formatted_name = get_formatted_name(f_name, l_name)
    print("\nHello, " + formatted_name + "!")

Please tell me your name:
(enter 'q' at any time to quit)

Hello, Cyraxx Hollowfire!

Please tell me your name:
(enter 'q' at any time to quit)

#### List Methods

In [3]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0

print(areas.index(20.0))

2

In [2]:
# Print out how often 9.50 appears in areas
print(areas.count(9.50))

1

**_Motivation for Dictionaries_**

In [1]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger

ind_ger = countries.index('germany')


# Use ind_ger to print out capital of Germany

print(ind_ger)

2

In [3]:
print(capitals[ind_ger])

berlin

In [4]:
# Creating empty dictionary

europe = {}

europe['spain'] = 'madrid'
europe['france'] = 'paris'
europe['germany'] = 'berlin'
europe['norway'] = 'oslo'

print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [5]:
# Print out the keys in europe

print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

In [6]:
# Print out value that belongs to key 'norway'

print(europe['norway'])

oslo

In [7]:
europe['italy'] = 'rome'

In [8]:
print('italy' in europe)

True

**_Dictionariception_**

In [9]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [ ]:
# Print out the capital of France

print(europe['france']['capital'])

In [11]:
# Create sub-dictionary data

data = {
    'capital' : 'rome',
    'population' : '59.83'
}

In [13]:
# Add data to europe under key 'italy'

europe['italy'] = data

In [ ]:
# Print europe
print(europe)