# Logic, Control Flow and Filtering

### Comparision Operator

In [1]:
# Importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
expressions = ['<', '<=', '>', '>=', '==', '!=']
values = ['Stricly less than', 'Less than or equal', 'Stricly greater than',
            'Greater than or equal', 'Equal', 'Not equal']

In [3]:
operator = {
    'Comparator' : expressions,
    'Meaning' : values
}

In [7]:
comparators = pd.DataFrame(operator)

In [11]:
comparators.iloc[:, [0, 1]]

  Comparator                Meaning
0          <      Stricly less than
1         <=     Less than or equal
2          >   Stricly greater than
3         >=  Greater than or equal
4         ==                  Equal
5         !=              Not equal

In [12]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

In [13]:
# my_kitchen bigger than 10 and smaller than 18?

print(my_kitchen > 10 and my_kitchen < 18)

False

In [14]:
# my_kitchen smaller than 14 or bigger than 17?

print(my_kitchen < 14 or my_kitchen > 17)

True

In [15]:
# Double my_kitchen smaller than triple your_kitchen?

print((my_kitchen * 2) < (your_kitchen * 3))

True

In [16]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

**_Boolean Operators with NumPy_**

Before, the operational operators like < and >= worked with NumPy arrays out of the box. Unfortunately, this is not true for the boolean operators and, or, and not. </br></br>
To use these operators with NumPy, you will need :- </br>
- np.logical_and() 
- np.logical_or()
- np.logical_not()

In [17]:
house_1 = [18.0, 20.0, 10.75, 9.50]
house_2 = [14.0, 24.0, 14.25, 9.0]

In [18]:
# Creating NumPy arrays
my_house = np.array(house_1)
your_house = np.array(house_2)

In [20]:
# my_house greater than 18.5 or smaller than 10

print(np.logical_or(my_house > 18.5, my_house < 10))

[False  True False  True]

In [21]:
# Both my_house and your_house smaller than 11

print(np.logical_and(my_house < 11, your_house < 11))

[False False False  True]

### Filtering pandas Dataframes

In [24]:
# Load the csv file

brics = pd.read_csv("D:/documents/xlsx/brics_pandas.csv", index_col = 0)

In [26]:
brics.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

**_Select Countries with area over 8 million kilometers_**

In [31]:
# Step 1:- Get Column
# select as series not as pandas dataframe. That means don't use double square brackets
brics['area']           # one way
brics.loc[:, 'area']    # two way
brics.iloc[:, 2]        # three way

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [33]:
# Step 2:- Compare

is_huge = brics.loc[:, 'area'] > 8

In [34]:
# Step 3:- Subset Dataframe

brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [35]:
# Direct format

brics[brics['area'] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

**_Keep the observations that have an area between 8 and 10 million square kilometers_**

In [38]:
brics[np.logical_and(brics['area'] > 8 ,brics['area'] <= 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

In [39]:
cars = pd.read_csv("D:/documents/xlsx/cars_pandas.csv", index_col = 0)

In [40]:
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

In [41]:
# Extract drives_right column as Series: dr

dr = cars['drives_right']

# Use dr to subset cars: sel

sel = cars[dr]

# Print sel

print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [42]:
# Convert code to a one-liner
sel = cars[cars['drives_right']]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [43]:
# Create car_maniac: observations that have a cars_per_cap over 500

cpc = cars["cars_per_cap"]

many_cars = cpc > 500

car_maniac = cars[many_cars]

# Print car_maniac

print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [44]:
# Create medium: observations with cars_per_cap between 100 and 500

cpc = cars["cars_per_cap"]
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]
# Print medium

print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

In [45]:
# in one line
print(cars[np.logical_and(cars['cars_per_cap'] > 100, cars['cars_per_cap'] < 500)])

    cars_per_cap country  drives_right
RU           200  Russia          True

In [1]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Adapt the printout
for index, area in enumerate(areas) :
    print("room " + str(index + 1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [2]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe

for k, v in europe.items() :
    print("The capital of " + str(k) + " is " + str(v))

The capital of spain is madrid
The capital of france is paris
The capital of germany is berlin
The capital of norway is oslo
The capital of italy is rome
The capital of poland is warsaw
The capital of austria is vienna